@use '../../../styles/variables.scss' as *;

.Start {
  display: flex;
  align-items: center;

  &__textWrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: $spacing-200;
  }

  &__greeting {
    display: block;
  }

  &__intro {
    display: block;
  }
}
