@use '../../styles/variables.scss' as *;
@use '../../styles/type-sets.scss' as *;
@use '../../styles/margin.scss' as *;

.Work {
  position: relative;
  z-index: -1;

  &__wave {
    background-image: url(../../assets/waves/xs/work-wave.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;

    @media screen and (min-width: $breakpoint-sm) {
      background-image: url(../../assets/waves/sm/work-wave.svg);
    }
    @media screen and (min-width: $breakpoint-md) {
      background-image: url(../../assets/waves/md/work-wave.svg);
    }
    @media screen and (min-width: $breakpoint-lg) {
      background-image: url(../../assets/waves/lg/work-wave.svg);
    }
    @media screen and (min-width: $breakpoint-xl) {
      background-image: url(../../assets/waves/xl/work-wave.svg);
    }
  }

  &__wrapper {
    @include page-margin();
    padding-inline: $spacing-100;
    padding-block: $spacing-250;
  }

  &__headline {
    @include headline-md();
  }

  &__contentWrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: $spacing-200;
    margin-top: $spacing-200;
    margin-bottom: $spacing-400;

    @media screen and (min-width: $breakpoint-md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (min-width: $breakpoint-xl) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
