@use '../../styles/variables.scss' as *;
@use '../../styles/type-sets.scss' as *;

.Card {
  z-index: 1;

  backdrop-filter: blur($spacing-100) saturate(180%);
  -webkit-backdrop-filter: blur($spacing-100) saturate(180%);
  background-color: rgba(44, 22, 53, 0.305);
  border-radius: $spacing-75;
  border: 1px solid rgba(255, 255, 255, 0.187);
  padding: $spacing-100;
  filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.223));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: $spacing-100;

  &__image {
    width: 100%;
    object-fit: cover;
    margin-top: $spacing-100;
    border-radius: $spacing-50;
  }

  &__headline {
    @include headline-sm();
    margin-block: $spacing-100;
  }

  &__buttonWrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-125;
    margin-bottom: $spacing-100;
  }

  &__button,
  %button {
    @include body-xs();
    font-weight: $font-weight-light;

    padding: $spacing-75 $spacing-150;
    border-radius: $spacing-150;

    &_outline {
      @extend %button;

      background: transparent;
      color: $color-secondary-dark;
      border: 1px solid $color-secondary-dark;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.05);
        color: $color-secondary-light;
        border-color: $color-secondary-light;
        transition: all 0.3s ease;
      }
    }

    &_fill {
      @extend %button;

      background: $color-secondary-dark;
      color: $color-base-light;
      filter: drop-shadow(0);
      transition: all 0.3s ease;

      &:hover {
        background: $color-secondary-light;
        transform: scale(1.05);
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
        transition: all 0.3s ease;
      }
    }
  }
}
