@use '../../styles/variables.scss' as *;

.NavMenu {
  position: fixed;
  inset: 0 0 0 30%;
  padding-top: $spacing-400;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;

  background: hsla(253, 55%, 42%, 0.542);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);

  &[active] {
    transform: translateX(0%);
  }

  &__linksWrapper {
    list-style-type: none;
  }

  &__links {
    text-align: center;
    padding: $spacing-100;
    cursor: pointer;
  }

  &__socialsWrapper {
    list-style-type: none;
    margin-top: $spacing-100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-150;
  }

  &__icon {
    width: $spacing-150;
  }
}
