@use '../../styles/variables.scss' as *;

.Header {
  position: sticky;
  top: 0;
  width: 100%;
  height: $spacing-450;
  background: $color-base-light;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: $spacing-50;
  padding-inline: $spacing-150;
  transition: all 400ms ease-in-out;

  box-shadow: 0 2px 25px rgba(117, 117, 117, 0.609);

  @media screen and (min-width: $breakpoint-lg) {
    padding-inline: $spacing-600;
    justify-content: flex-start;
    gap: $spacing-900;
  }

  @media screen and (min-width: $breakpoint-xl) {
    gap: $spacing-1100;
  }

  &__logo {
    width: $spacing-600;
  }
}
