@use '../../styles/variables.scss' as *;

.Footer {
  position: relative;
  height: $spacing-400;

  &__wave {
    background-image: url(../../assets/waves/sm/footer-wave.svg);
    background-size: cover;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
  }

  &__container {
    padding: $spacing-100;
    display: flex;
    gap: $spacing-75;
  }

  &__icon {
    width: $spacing-150;
  }
}
